.applicationUpdateList {
	.platform {
		display: flex;
	}
	.buttonGroups {
		display: flex;
		margin-bottom: 8px;
	}
	.actionButton {
		width: 100px;
		display: flex;
		justify-content: space-between;
	}
}
